@model IEnumerable<BLL.DTO.PositionDTO>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title fw-semibold">Position Page</h5>
        </div>
        <div class="card-body">
            @* add new position *@
            <h6>Add New Position</h6>
            <form method="post" asp-action="Create">
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" id="addPositionName" name="PositionName" class="form-control" placeholder="Insert Position Name" />
                    </div>
                    <div class="col-md-2">
                        <input type="Submit" value="Add New Position" class="btn btn-success btn-md" />
                    </div>
                </div>
            </form>
            <hr />
            <h6>Edit Positions</h6>
            <form method="post" asp-action="Edit">
                <div class="row">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="positionID" class="control-label">Position ID</label>
                            <input type="text" id="positionIDDisplay" class="form-control" disabled />
                            <input type="hidden" id="positionIDHidden" name="PositionID" />
                        </div>
                        <div class="col-md-5">
                            <label for="positionName" class="control-label">Position Name</label>
                            <input type="text" id="positionName" name="PositionName" class="form-control" placeholder="Insert Position Name" />
                        </div>
                        <div class="col-md-2">
                            <br />
                            <input type="Submit" value="Update Position" class="btn btn-warning btn-md" />
                        </div>
                    </div>
                </div>
            </form>


            <hr />
            <table class="table table-responsive">
                <tr>
                    <th>Position ID</th>
                    <th>Position Name</th>
                    <th>Action</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PositionID</td>
                        <td>@item.PositionName</td>
                        <td>
                            <button type="button" class="btn btn-primary edit-btn btn-sm" data-toggle="modal" data-target="#editProductModal" data-position-id="@item.PositionID" data-position-name="@item.PositionName">
                                Edit
                            </button>
                            <a asp-action="Delete" onclick="return confirm('Are you sure you want to delete this position ?')" asp-route-id="@item.PositionID" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.edit-btn').on('click', function () {
            var positionId = $(this).data('position-id');
            var positionName = $(this).data('position-name');
            $('#positionIDHidden').val(positionId);
            $('#positionIDDisplay').val(positionId); // Mengubah nilai input yang ditampilkan
            $('#positionName').val(positionName);
        });

        // Clear modal fields when modal is hidden
        $('#editProductModal').on('hidden.bs.modal', function () {
            $('#positionIDHidden').val('');
            $('#positionIDDisplay').val('');
            $('#positionName').val('');
        });
    });

</script>
