@model IEnumerable<BLL.DTO.PositionDTO>

<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title fw-semibold">Position Page</h5>
		</div>
		<div class="card-body">
			@* add new position *@
			<h6>Add New Position</h6>
			<form method="post" asp-action="Create">
				<div class="row">
					<div class="col-md-10">
						<input type="text" id="positionName" name="PositionName" class="form-control" placeholder="Insert Position Name"/>
					</div>
					<div class="col-md-2">
						<input type="Submit" value="Add New Position" class="btn btn-success btn-md"/>
					</div>
				</div>
			</form>
			<hr />
			<h5>Table Positions</h5>
			<table class="table table-responsive">
				<tr>
					<th>Position ID</th>
					<th>Position Name</th>
					<th>Action</th>
				</tr>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.PositionID</td>
						<td>@item.PositionName</td>
						<td>
							<button type="button" class="btn btn-primary btn-sm edit-btn" data-toggle="modal" data-target="#EditPosition" data-id="@item.PositionID">
								Edit
							</button>
							<a href="#" class="btn btn-danger btn-sm" onclick="deleteArticle('@item.PositionID')">Delete</a>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="EditPosition" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editPositionsLabel">Edit Position</h5>
			</div>
			<div class="modal-body">
				@{
					var positions = new BLL.DTO.PositionDTO();

					<form asp-action="Edit" method="post">
						<div class="form-group">
							<label asp-for="@positions.PositionID" class="control-label">Position ID</label>
							<input id="disabledTextInput" class="form-control" asp-for="@positions.PositionID">
							<input asp-for="@positions.PositionID" class="form-control" hidden />
						</div>
						<div class="form-group">
							<label asp-for="@positions.PositionName" class="control-label">Position Name</label>
							<input asp-for="@positions.PositionName" class="form-control" />
						</div>
					</form>
				}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
